<h1>Usuarios</h1>
<br>
<div nz-row class="row-1">

  <div nz-col nzSpan="5">
    <div *ngIf="!IsDisable ; else enableClients">
      <button nz-button [nzType]="'primary'" (click)="filterUsers(false, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar desabilitados</span></button>
    </div>
    <ng-template #enableClients>
      <button nz-button [nzType]="'primary'" (click)="filterUsers(true, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar Habilitados</span></button>
    </ng-template>

  </div>

  <app-submit-user-modal  (DataUpdated)="updateTable($event)"  [listOfRoles]="listOfRoles"></app-submit-user-modal>

</div>
<br>
<div nz-row class="row-2">
  <div nz-col>
      <nz-table #table [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{   x: '100%', y: '100%' }" [nzPageSize]="10">
        <thead>
          <tr>
          <th nzWidth="80px">Acciones</th>
            <th
              *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
              nzWidth="150px"
            >
              {{ column.name }}
            </th>
            <th nzWidth="50px" nzAlign="center">Ajustes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of table.data">
              <td>
              <div nz-row>
                <div nz-col>
                  <div *ngIf="data.estado; else disablesList"> 
                      <button nz-button nzSize="small" nzDanger nzType="primary"  
                      nz-popconfirm
                      nzPopconfirmTitle="Quieres desabilitar este item ?"
                      (nzOnConfirm)="disableClient(data, false)"
                      (nzOnCancel)="cancel()"
                      nzPopconfirmPlacement="rightBottom" 
                      ><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                  </div>
                  <ng-template #disablesList>
                      <button nz-button nzType="primary" nzSize="small"  
                      nz-popconfirm
                      nzPopconfirmTitle="Quieres habilitar este item ?"
                      (nzOnConfirm)="disableClient(data, true)"
                      (nzOnCancel)="cancel()"
                      nzPopconfirmPlacement="rightBottom"
                      ><i nz-icon nzType="undo" nzTheme="outline"></i></button>
                  </ng-template>
  
                </div>
                <div nz-col nzOffset="1">
                  <app-submit-user-modal  [dataPosition]="data" [listOfRoles]="listOfRoles"></app-submit-user-modal>
  
                </div>
              </div>
              
            </td>
              
              <td>{{data.nombre}}</td>
              <td>{{ data.correo }}</td>
              <td>
                <span *ngIf="data.rolid == 1">Admin</span>
                <span *ngIf="data.rolid == 2">Owner</span>
                <span *ngIf="data.rolid == 3">Viewer</span>
  
              </td>
              <td nzAlign="center">
                <div>
                    <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomLeft'"><span nz-icon nzType="setting" nzTheme="outline"></span></button>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                      <ul nz-menu>
                        <li nz-menu-item><app-credential-user-modal></app-credential-user-modal></li>
                        <li nz-menu-item ><app-credential-user-modal [dataPosition]="data"></app-credential-user-modal></li>
                      </ul>
                    </nz-dropdown-menu>
                </div>
              </td>
          </tr>
        </tbody>
      </nz-table>
      
  </div>
</div>
