<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="http://falconingenieria.com/" target="_blank">
        <img src="assets/Images/Logo.jpeg" alt="logo">
        <h1>ENERSA</h1>
      </a>

    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <div routerLink="welcome" nz-menu-item nzMatchRouter>
        <li>
            <i nz-icon nzType="home"></i>
            <span >Inicio</span>
        </li>
      </div>
      <li *ngIf="rol == 2  || rol == 1" nz-submenu nzOpen nzTitle="Configuraciones" nzIcon="tool">
        <ul>
          <div routerLink="clients" nz-menu-item nzMatchRouter>
            <li>
                <i nz-icon nzType="team"></i>
                <span >Clientes</span>
            </li>
          </div>


          <div routerLink="providers" nz-menu-item nzMatchRouter>
            <li>
                <i nz-icon nzType="thunderbolt"></i>
                <span >Generadores</span>
            </li>
          </div>
          <!-- <div routerLink="zones" nz-menu-item nzMatchRouter>
            <li>
                <i nz-icon nzType="border-horizontal"></i>
                <span >Zonas</span>
            </li>
          </div> -->
          <div routerLink="meters" nz-menu-item nzMatchRouter>
            <li>
                <i nz-icon nzType="dashboard"></i>
                <span >Medidores</span>
            </li>
          </div>

          <div routerLink="cpi" nz-menu-item nzMatchRouter>
            <li>
              <span nz-icon nzType="reconciliation"></span>
                <span >CPI</span>
            </li>
          </div>

          <div routerLink="ipc" nz-menu-item nzMatchRouter>
            <li>
              <span nz-icon nzType="reconciliation"></span>
                <span >IPC</span>
            </li>
          </div>


          <div routerLink="euro" nz-menu-item nzMatchRouter>
            <li>
              <span nz-icon nzType="euro" nzTheme="outline"></span>
                <span >Euro vrs Dollar</span>
            </li>
          </div>

          <div routerLink="dollar" nz-menu-item nzMatchRouter>
            <li>
              <span nz-icon nzType="dollar-circle" nzTheme="outline"></span>
                <span >Dollar vrs Lempira</span>
            </li>
          </div>

          <div routerLink="horasPunta" nz-menu-item nzMatchRouter>
            <li>
              <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
                <span >Horas Punta</span>
            </li>
          </div>

          <div routerLink="combustible" nz-menu-item nzMatchRouter>
            <li>
              <span nz-icon nzType="bg-colors" nzTheme="outline"></span>
                <span >Combustible</span>
            </li>
          </div>

          <!-- <div *ngIf="rol == 2" routerLink="users" nz-menu-item nzMatchRouter>
            <li>
                <i nz-icon nzType="user"></i>
                <span >Usuarios</span>
            </li>
          </div> -->



        </ul>
      </li>

      <!-- <div *ngIf="rol == 2  || rol == 1" routerLink="rates" nz-menu-item nzMatchRouter>
        <li>
            <i nz-icon nzType="dollar"></i>
            <span >Tarifas</span>
        </li>
      </div> -->



      <!-- <div routerLink="input-parameters" nz-menu-item nzMatchRouter>
        <li>
            <i nz-icon nzType="control"></i>
            <span >Parametros de entrada</span>
        </li>
      </div> -->

      <div *ngIf="rol == 2 || rol == 1" routerLink="contracts" nz-menu-item nzMatchRouter>
        <li>
            <i nz-icon nzType="reconciliation"></i>
            <span >Contratos</span>
        </li>
      </div>
<!--
      <div routerLink="energy-matrix" nz-menu-item nzMatchRouter>
        <li>
            <i nz-icon nzType="pie-chart"></i>
            <span >Matriz energetica</span>
        </li>
      </div> -->

      <li nz-submenu nzOpen nzTitle="Constancias" nzIcon="calculator">
        <ul>
          <!-- <div routerLink="especial-charges" nz-menu-item nzMatchRouter>
            <li>
                <i nz-icon nzType="file-text"></i>
                <span >Cargos especiales</span>
            </li>
          </div> -->

            <ul>

              <div routerLink="reports" nz-menu-item nzMatchRouter>
                <li>
                    <i nz-icon nzType="file-text"></i>
                    <span >Constancias</span>
                </li>
              </div>
            </ul>

        </ul>
      </li>


      <div nz-menu-item nzMatchRouter (click)="endSession()">
          <li>
              <i nz-icon nzType="poweroff" ></i>
              <span >Cerrar session</span>
          </li>

      </div>

      <!-- <div nz-menu-item nzMatchRouter>
        <li>
            <i nz-icon nzType="setting"></i>
          <span >Configuracion</span>1|°!2Q3ZS6347
        </li>
      </div> -->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>

        </span>
      <span class="header-title">SISTEMA DE REPORTES Y FACTURACION </span>
      </div>

    </nz-header>
    <nz-content>

      <div class="inner-content">

        <router-outlet></router-outlet>
        <nz-back-top [nzVisibilityHeight]="100">
        </nz-back-top>
      </div>

    </nz-content>
  </nz-layout>
</nz-layout>
