<h1>Horas Punta</h1>
<br>
<div nz-row class="row-1">

  <div nz-col nzSpan="5">
    <div *ngIf="!horasPuntaIsDisable ; else enableClients">
      <button nz-button [nzType]="'primary'" (click)="GethorasPunta(0, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar Deshabilitados</span></button>
    </div>
    <ng-template #enableClients>
      <button nz-button [nzType]="'primary'" (click)="GethorasPunta(1, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar Habilitados</span></button>
    </ng-template>

  </div>

  <app-submit-horasPunta-modal  (DataUpdated)="updateTable($event)"></app-submit-horasPunta-modal>

</div>
<br>
<div nz-row class="row-2">
  <div nz-col>
      <nz-table [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{   x: '100%', y: '100%' }" [nzPageSize]="10">
        <thead>
          <tr>
          <th nzWidth="80px">Acciones</th>
            <th
              *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
              nzWidth="150px"
            >
              {{ column.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfData">
            <td>
            <div nz-row>
              <div nz-col>
                <div *ngIf="data.Estado else disablesList">
                    <button nz-button nzSize="small" nzDanger nzType="primary"
                    nz-popconfirm
                    nzPopconfirmTitle="Quieres desabilitar este item ?"
                    (nzOnConfirm)="disableClient(data, 0)"
                    (nzOnCancel)="cancel()"
                    nzPopconfirmPlacement="rightBottom"
                    ><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                </div>
                <ng-template #disablesList>
                    <button nz-button nzType="primary" nzSize="small"
                    nz-popconfirm
                    nzPopconfirmTitle="Quieres habilitar este item ?"
                    (nzOnConfirm)="disableClient(data, 1)"
                    (nzOnCancel)="cancel()"
                    nzPopconfirmPlacement="rightBottom"
                    ><i nz-icon nzType="undo" nzTheme="outline"></i></button>
                </ng-template>
              </div>
              <div nz-col nzOffset="1">
                <app-submit-horasPunta-modal  [dataPosition]="data"></app-submit-horasPunta-modal>
              </div>
            </div>
          </td>

            <td>{{data.fechaInicial | date:'yyyy-MM-dd':'UTC'}}</td>
            <td>{{ data.fechaFinal | date:'yyyy-MM-dd':'UTC' }}</td>
            <td>{{ data.horas}}</td>
            <td>{{ data.multiplicador}}</td>
          </tr>
        </tbody>
      </nz-table>

  </div>
</div>
