
<div nz-col nzOffset="8" nzSpan="4" class="row1-col1">

    <button nz-button nzSize="small" [nzType]="'primary'" (click)="showModal()"><i nz-icon nzType="file-text" nzTheme="outline"></i></button>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Medidores" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="35%" [nzStyle]="{ top: '5px' }">
        <ng-container *nzModalContent>


          <form nz-form [formGroup]="validateForm" nzLayout="horizontal">
            <div nz-row>
              <div nz-col nzSpan="11">
                <label>Medidor</label>
                  <div nz-row>
                    <nz-form-item>
                      <nz-form-control>
                        <nz-select  style="width: 230px;" nzSize="large" nzMode="default" nzPlaceHolder="12983718" formControlName="medidorId">
                          <nz-option *ngFor="let meter of listOfMeters" [nzLabel]="meter.descripcion" [nzValue]="meter.id"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                
              </div>
              <div nz-col nzOffset="2"  nzSpan="11">
                <label>Contrato</label>
                  <div nz-row>
                    <nz-form-item>
                      <nz-form-control>
                        <nz-select style="width: 230px;" nzSize="large" nzPlaceHolder="12983718" formControlName="contratoId" [(ngModel)]="dataPosition.id" [nzDisabled]="true">
                          <nz-option [nzLabel]="dataPosition.codigo" [nzValue]="dataPosition.id"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
              </div>
              
            
            </div>
          
            <div nz-row>
            
              <div nz-col>
                <label>Fecha valida</label>
                <nz-form-item  nzFlex>
                  <nz-form-control>
                  
                      <div nz-row>
                              <nz-range-picker [nzShowTime]="true" style="width: 600px;" formControlName="fecha" [nzRanges]="ranges" [nzDisabled]="true" [(ngModel)]="dates"></nz-range-picker>
                      </div>
                    
                  </nz-form-control>
                </nz-form-item>
                
              </div>
            
              <div nz-col nzSpan="24">
                <label  nzRequired>Observacion</label>
                <div nz-row>
                    <nz-form-item>
                    <nz-form-control>
                        <textarea nz-input formControlName="observacion" style="width: 480px;"  rows="2" placeholder="Escriba algo"></textarea>
                    </nz-form-control>
                    </nz-form-item>
                </div>
              </div>
            
            </div>
            <div nz-row>
              <div nz-col>
                <label>Mostrar en factura</label>
                <div nz-row>
                  <nz-form-item>
                    <nz-form-control>
                      <nz-select formControlName="mostrar" style="width: 160px;" nzAllowClear>
                        <nz-option nzLabel="Si" [nzValue]="true"></nz-option>
                        <nz-option nzLabel="No" [nzValue]="false"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              
            </div>

          </form>
          <br>  
    
          <div nz-row class="row-4">
              
              <div nz-col nzOffset="16" nzSpan="1">
                  <button nz-button (click)="cleanForm()"><i nz-icon nzTheme="outline" nzType="clear"></i></button>
              </div>
              <div nz-col nzOffset="1" nzSpan="1" >
                      <button *ngIf="!editIsActive; else edit" nz-button (click)="submitPostForm()"><i nz-icon nzTheme="outline" nzType="save"></i></button>
              </div>
              <ng-template #edit>
                  <button nz-button (click)="submitForm(editIsActive)"><i nz-icon nzTheme="outline" nzType="save"></i></button>
      
              </ng-template>
      
          </div>
      
          <br>  
          <div nz-row>
              <div nz-col>
                <div *ngIf="!IsDisable ; else enableClients">
                  <button nz-button [nzType]="'primary'" (click)="getContractMeter(0, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar desabilitados</span></button>
                </div>
                <ng-template #enableClients>
                  <button nz-button [nzType]="'primary'" (click)="getContractMeter(1, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar Habilitados</span></button>
                </ng-template>
            
              </div>
          </div>
            <br> 
                   
                <div nz-row class="row-6">
                    <div nz-col>
                        <nz-table #table [nzData]="listOfData" [nzScroll]="{  x: '100%', y: '240px' }"  [nzPageSize]="4">
                        <thead>
                            <tr>
                            <th nzLeft nzWidth="90px">Acciones</th>
                            <th
                                *ngFor="let column of listOfColumns"
                                [nzSortOrder]="column.sortOrder"
                                [nzSortFn]="column.sortFn"
                                [nzSortDirections]="column.sortDirections"
                                [nzFilterMultiple]="column.filterMultiple"
                                [nzFilters]="column.listOfFilter"
                                [nzFilterFn]="column.filterFn"
                                nzWidth="150px"
                            >
                                {{ column.name }}
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of table.data">
                              <td nzLeft>
                                <div nz-row>
                                  <div nz-col>
                                    <button *ngIf="data.estado; else enable" class="delete" nzSize="small" nz-button nzType="primary" nzDanger  
                                    nz-popconfirm
                                    nzPopconfirmTitle="Quieres deshabilitar este item?"
                                    (nzOnConfirm)="disable(data, false)"
                                    (nzOnCancel)="cancel()"
                                    nzPopconfirmPlacement="rightBottom"
                                    ><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                                    <ng-template #enable>
                                      <button class="delete" nzSize="small" nz-button nzType="primary"  
                                      nz-popconfirm
                                      nzPopconfirmTitle="Quieres habilitar este item?"
                                      (nzOnConfirm)="disable(data, true)"
                                      (nzOnCancel)="cancel()"
                                      nzPopconfirmPlacement="rightBottom"
                                      ><i nz-icon nzType="undo" nzTheme="outline"></i></button>

                                    </ng-template>
                                    
                                  </div>
                                  <div nz-col  nzOffset="1">
                                    <button class="edit" nzSize="small" nz-button nzType="primary" (click)="editableForm(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
                                  </div>
                                </div>
                              </td>
                            <td>{{data.descripcion}}</td>
                            <td>{{data.fechaInicial   | date:'dd/M/yyyy':'GMT'  }}</td>
                            <td >{{data.fechaFinal  | date:'dd/M/yyyy':'GMT'  }}</td>
                            </tr>
                        </tbody>
                        </nz-table>
                        
                    </div>
                </div>

        </ng-container>
    </nz-modal>

</div>