
<div nz-col nzSpan="4" class="row1-col1">
    <div *ngIf="dataPosition; else guardar">
        <button (click)="showModal()" style="width: 150px;">Cambiar credenciales</button>
    </div>
    <ng-template #guardar>
      <button (click)="showModal()" style="width: 150px;">Crear credenciales</button>
    </ng-template>


      <nz-modal [(nzVisible)]="isVisible" nzTitle="Zonas" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
        <ng-container *nzModalContent>

          <form nz-form [formGroup]="validateForm" nzLayout="horizontal">
            <div nz-row class="row-1">
              <div nz-col  [nzSpan]="24" class="row1-col1">
                  <label>Correo</label>
                  <div nz-row>
                    <nz-form-item>
                      <nz-form-control>
                        <input nz-input  class="inputLarge" id="Descripcion" type="text" placeholder=" ZM_#1 " formControlName="correo" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
  

              </div>
            </div>
            <div nz-row class="row-1">
              <div nz-col  [nzSpan]="24" class="row1-col1">
                  <label>Nombre de usuario</label>
                  <div nz-row>
                    <nz-form-item>
                      <nz-form-control>
                        <input nz-input  class="inputLarge" id="Descripcion" type="text" placeholder=" ZM_#1 " formControlName="username" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
  

              </div>
            </div>
            <div nz-row class="row-2">
              
              <div nz-col [nzSpan]="24" class="row3-col1">

                  <label>Contraseña</label>
                  <div nz-row>
                    <nz-form-item>
                      <nz-form-control>
                        <input nz-input  class="inputLarge" id="Descripcion" type="text" placeholder=" Zona ## " formControlName="newPassword" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
  

              </div>

            </div>
            <!-- <div nz-row class="row-1">
              <div nz-col  [nzSpan]="24" class="row1-col1">
                  <label>Confirmar contraseña</label>
                  <div nz-row>
                    <nz-form-item>
                      <nz-form-control>
                        <input nz-input  class="inputLarge" id="Descripcion" type="text" placeholder=" ZM_#1 " formControlName="hash" />
                      </nz-form-control>  
                    </nz-form-item>
                  </div>
  

              </div>
            </div> -->
            
          </form>
        </ng-container>
      </nz-modal>

  </div>