.inputLarge{
    width: 475px;
    display: table-cell; 
    vertical-align: middle;
    border: 1px solid #ccc;
}

.card {
    width:200px;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.logo{
    width: 100%; height: auto;
}