<div *ngIf="!FacturaIsVisible">
<h1>Facturas Generadas</h1>
<br>
<div nz-row>
  <div nz-col nzOffset="6">
    <label>Rango de fecha</label>
  </div>
</div>
<div nz-row class="row-1" class="generar-facturas">
<!--
    <div nz-col nzSpan="3">
      <app-modal-new-invoices  [ListOfCharges]="ListOfCharges" [ListOfContractMeditors]="ListOfContractMeditors" (DataUpdated)="updateTable($event)"></app-modal-new-invoices>
    </div> -->

    <div nz-col nzSpan="3">
      <button nz-button nzType="primary" nzSize="default" (click)="EmitAll()">Emitir todas</button>
    </div>

    <div nz-col>
      <form nz-form [formGroup]="generateInvoicesForm">
        <div nz-row>
          <div nz-col>
            <nz-range-picker [nzShowTime]="true" style="width: 475px;" formControlName="fecha" [nzRanges]="ranges" ngModel (ngModelChange)="onChange($event)"></nz-range-picker>


          </div>
          <div nz-col nzOffset="2">
            <label>Facturar:  </label>

            <nz-switch
              [ngModel]="true"
              [nzCheckedChildren]="checkedTemplate"
              [nzUnCheckedChildren]="unCheckedTemplate"
              formControlName="facturaEEH"
            ></nz-switch>
            <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
            <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>

          </div>
          <div nz-col>
            <button nz-button nzType="primary" nzSize="default" (click)="submitForm()">Consultar</button>


          </div>
        </div>


      </form>
    </div>

</div>
<br>
<div nz-row class="row-2">
  <div nz-col>
      <nz-table [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{   x: '100%', y: '100%' }"  [nzPageSize]="10">
        <thead>
          <tr>
            <th
              *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
              nzWidth="150px"
            >
              {{ column.name }}
            </th>
            <th nzRight nzWidth="70px" nzAlign="center">Emitir</th>
            <th nzRight nzWidth="90px" nzAlign="center">
                Generar Factura
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfData">
            <td>{{ data.contrato.contratoCodigo }}</td>
            <td>{{data.contrato.cliente}}</td>
            <td>{{data.medidor[0].historico.fechaAnterior  | date:'dd/M/yyyy':'GMT'  }}</td>
            <td>{{ data.medidor[0].historico.fechaActual  | date:'dd/M/yyyy':'GMT' }}</td>
            <td>{{ data.totalLecturaActivaAjustada + data.totalEnergiaFotovoltaicaActivaConsumida  + data.totalEnergiaDeInyeccionConsumida + (data.PT * data.PPPTT)| number:'1.0':'en-US'}} kWh</td>
            <td style="color: red;" *ngIf="data.cargo; else sinTotal">L {{ data.cargo[data.cargo.length -1].valorAjustado| number:'1.0':'en-US' }}</td>
            <ng-template #sinTotal>
              <td style="color: green;">L {{0  | number:'1.0':'en-US'}}</td>
            </ng-template>

            <td nzRight nzAlign="center">
                <button nz-button nzSize="small" nzType="primary"
                nz-popconfirm
                nzPopconfirmTitle="Estas seguro que quieres emitir esta factura ?"
                (nzOnConfirm)="EmitirFactura(data)"
                (nzOnCancel)="cancel()"
                nzPopconfirmPlacement="rightBottom"
                ><i nz-icon nzType="check"></i></button>
            </td>
            <td nzRight nzAlign="center">
              <button nz-button nzSize="small" nzType="primary" (click)="GenerateInvoice(data)"><i nz-icon nzType="file-done"></i></button>

            </td>
          </tr>
        </tbody>
      </nz-table>

  </div>
</div>

</div>

<div *ngIf="FacturaIsVisible">
  <button class="back-btn" nz-button nzType="primary" (click)="Back()"><i nz-icon nzType="arrow-left"></i></button>
  <app-digital-invoice [dataInvoice]="dataInvoice" [dataSource]="dataSource" [historicData]="historicData" [typeInvoice]="1"></app-digital-invoice>
</div>
