
<button nz-button [nzType]="'primary'" (click)="showModal()" nzSize="small"><i nz-icon nzTheme="outline" nzType="plus"></i></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Factura Proveedor" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzStyle]="{ top: '5px' }">
    <ng-container *nzModalContent>

        <form nz-form [formGroup]="validateForm" nzLayout="horizontal">

            <div nz-row>
              <div nz-col>
                <nz-form-item  nzFlex>
                  <nz-form-control>
                    <label>Codigo de Factura</label>
                    <div nz-row>
                      <input nz-input type="text" formControlName="codigo" style="width: 475px;">
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-row>
                <div nz-col>
                    <nz-form-item  nzFlex>
                        <nz-form-control>
                            <label>Fecha de vencimiento</label>
                            <div nz-row>
                              <nz-range-picker [nzShowTime]="true" style="width: 475px;" formControlName="fechaVencimiento" [nzRanges]="ranges"></nz-range-picker>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col>
                    <nz-form-item  nzFlex>
                        <nz-form-control>
                            <label>Fecha de facturación</label>
                            <div nz-row>
                              <nz-range-picker [nzShowTime]="true" style="width: 475px;" formControlName="fechaFacturacion" [nzRanges]="ranges"></nz-range-picker>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
              <div nz-col>
                <nz-form-item  nzFlex>
                  <nz-form-control>
                    <label>Cargo Reactivo</label>
                    <div nz-row>
                      <nz-input-number formControlName="cargoReactivo" style="width: 475px;"></nz-input-number>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

        </form>
        <br>

        <div nz-row class="row-4">

            <div nz-col nzOffset="19" nzSpan="1">
                <button nz-button (click)="cleanForm()"><i nz-icon nzTheme="outline" nzType="clear"></i></button>
            </div>
            <div nz-col nzOffset="1" nzSpan="1" >
                    <button nz-button (click)="submitForm()"><i nz-icon nzTheme="outline" nzType="save"></i></button>
            </div>

        </div>

        <br>
        <div nz-row>
            <div nz-col>
              <div *ngIf="!IsDisable ; else enableClients">
                <button nz-button [nzType]="'primary'" (click)="filterInvoices(false, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar desabilitados</span></button>
              </div>
              <ng-template #enableClients>
                <button nz-button [nzType]="'primary'" (click)="filterInvoices(true, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar Habilitados</span></button>
              </ng-template>

            </div>
        </div>
          <br>

              <div nz-row class="row-6">
                  <div nz-col>
                      <nz-table #table [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{  x: '900px', y: '240px' }"  [nzPageSize]="4">
                      <thead>
                          <tr>
                          <th nzLeft nzWidth="90px">Acciones</th>
                          <th
                              *ngFor="let column of listOfColumns"
                              [nzSortOrder]="column.sortOrder"
                              [nzSortFn]="column.sortFn"
                              [nzSortDirections]="column.sortDirections"
                              [nzFilterMultiple]="column.filterMultiple"
                              [nzFilterFn]="column.filterFn"
                              nzWidth="150px"
                          >
                              {{ column.name }}
                          </th>
                          <th nzRight nzWidth="80px">Cargos</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let data of table.data">
                            <td nzLeft>
                              <div nz-row>
                                <div nz-col>
                                  <button *ngIf="data.estado; else enable" class="delete" nzSize="small" nz-button nzType="primary" nzDanger
                                  nz-popconfirm
                                  nzPopconfirmTitle="Quieres deshabilitar este item?"
                                  (nzOnConfirm)="disable(data, false)"
                                  (nzOnCancel)="cancel()"
                                  nzPopconfirmPlacement="rightBottom"

                                  ><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                                  <ng-template #enable>
                                    <button class="delete" nzSize="small" nz-button nzType="primary"
                                    nz-popconfirm
                                    nzPopconfirmTitle="Quieres habilitar este item?"
                                    (nzOnConfirm)="disable(data, true)"
                                    (nzOnCancel)="cancel()"
                                    nzPopconfirmPlacement="rightBottom"


                                    ><i nz-icon nzType="undo" nzTheme="outline"></i></button>

                                  </ng-template>

                                </div>
                                <div nz-col nzOffset="1">
                                  <button class="edit" nzSize="small" nz-button nzType="primary" (click)="editableForm(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
                                </div>
                              </div>
                            </td>
                          <td>{{data.codigo}}</td>
                          <td>{{data.fechaEmision   | date:'dd/M/yyyy':'GMT'}}</td>
                          <td>{{data.fechaVencimiento   | date:'dd/M/yyyy':'GMT'}}</td>
                          <td>{{data.fechaInicial   | date:'dd/M/yyyy':'GMT'}}</td>
                          <td>{{data.fechaFinal   | date:'dd/M/yyyy':'GMT'}}</td>

                          <td nzRight nzAlign="center">
                            <app-modal-cargos-eeh [dataPosition]="data" [listOfDataAux]="listOfManualInvoiceDetail"></app-modal-cargos-eeh>
                          </td>
                          </tr>
                      </tbody>
                      </nz-table>

                  </div>
              </div>
    </ng-container>
</nz-modal>
