
<div *ngIf="dataPosition; else Guardar">
    <button nzSize="small" nz-button nzType="primary" (click)="showModal()"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
</div>
<ng-template #Guardar>
    <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Nuevo Registro</span></button>
</ng-template>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Cargo" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()" [nzStyle]="{ top: '50px' }">
    <ng-container *nzModalContent>

    <form nz-form [formGroup]="validateForm" nzLayout="horizontal">

        <div nz-row>
            <div nz-col nzSpan="24">
                <label>Rango de fecha valida</label>
                <div nz-row>
                        <nz-range-picker style="width: 475px;" formControlName="fecha" [nzRanges]="ranges"></nz-range-picker>
                </div>

            </div>
        </div>
        <br>
        <div nz-row>
            <div nz-col nzSpan="11">
                <label>descripcion</label>
                <div nz-row>
                    <nz-form-item>
                    <nz-form-control>
                        <input nz-input formControlName="descripcion" class="inputLarge"  id="descripcion" type="text" placeholder="(0.5)%"  [disabled]="false" />
                    </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="11">
                <label>Cargo por financiamiento</label>
                <div nz-row>
                    <nz-form-item>
                    <nz-form-control>
                        <input nz-input formControlName="cargoFinanciamiento" class="inputMedium" id="descripcion" type="number" placeholder="(0.5)%"  [disabled]="false" />
                    </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
            <div nz-col nzSpan="11" nzOffset="2">

                <label>Rectificacion/Ajuste</label>
                <div nz-row>
                    <nz-form-item>
                    <nz-form-control>
                        <input nz-input formControlName="ajuste" class="inputMedium" id="descripcion" type="number" placeholder="(0.5)%"  [disabled]="false" />
                    </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="11">
                <label>Cargo por corte</label>
                <div nz-row>
                    <nz-form-item>
                    <nz-form-control>
                        <input nz-input formControlName="cargoCorte" class="inputMedium" id="descripcion" type="number" placeholder="(0.5)%"  [disabled]="false" />
                    </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
            <div nz-col nzSpan="11" nzOffset="2">

                <label>Cargo por mora</label>
                <div nz-row>
                    <nz-form-item>
                    <nz-form-control>
                        <input nz-input formControlName="cargoMora" class="inputMedium" id="descripcion" type="number" placeholder="(0.5)%"  [disabled]="false" />
                    </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="11">
                <label>Otros conceptos</label>
                <div nz-row>
                    <nz-form-item>
                    <nz-form-control>
                        <input nz-input formControlName="otrosCargos" class="inputMedium" id="descripcion" type="number" placeholder="(0.5)%"  [disabled]="false" />
                    </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="24">

                <label  nzRequired>Observacion</label>
                <div nz-row>
                    <nz-form-item>
                    <nz-form-control>
                        <textarea class="inputLarge" formControlName="observacion" nz-input rows="2" placeholder="Escriba algo"></textarea>
                    </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>

    </form>
    </ng-container>
</nz-modal>
