.inputLarge{
    width: 476px;
    display: table-cell; 
    vertical-align: middle;
    border: 1px solid #ccc;
}
.inputMedium{
    width: 230px;
    display: table-cell; 
    vertical-align: middle;
    border: 1px solid #ccc;
}
