<div nz-row>
  <div nz-col nzOffset="21" nzSpan="1">
    <button nz-button class="print-btn" nzType="primary" (click)="GenerarFactura()" [nzLoading]="spinnerIsVisible"><i
        nz-icon nzType="printer" nzTheme="outline"></i></button>
  </div>
  <div nz-col nzSpan="1">
    <button nz-button class="print-btn" nzType="primary" (click)="sendFile()" [nzLoading]="spinnerIsVisible"><i nz-icon
        nzType="send" nzTheme="outline"></i></button>
  </div>
</div>
<hr>
<div id="content">
  <div class="cabecera">
    <!-- <img style="max-height: 50px;" [src]="dataInvoice.contrato.logo" class="logo" id="logo" alt="Cliente"> -->
    <h2 style="margin-right: 45%;" id="cliente">{{dataInvoice.sourceName}}</h2>
  </div>
  <div class="body">
    <div class="titulos">
      <h5>Datos de factura</h5>
      <h5>Datos del titular</h5>
    </div>
    <div class="grid-container">

      <div class="datos">
        <div>
          <p class="etiqueta-izq">Fecha lectura:</p>
          <p class="etiqueta-izq">Fecha vencimiento:</p>
          <p class="etiqueta-izq">Fecha emisión:</p>
          <p class="etiqueta-izq">Fechas facturadas:</p>
          <p class="etiqueta-izq">Días facturación:</p>

        </div>
        <div>
          <ng-template #Vacio>
            <p class="etiqueta-der">---</p>
          </ng-template>
        </div>
      </div>

    </div>

    <!-- <div class="titulos">
          <h5>Resumen de la factura</h5>
      </div>
      <div class="resumen-container">
          <div class="consumo">
              <p class="etiqueta-consumo-total">Consumo total en kVArh</p>
              <p class="etiqueta-valor">{{dataInvoice.totalLecturaReactivaAjustada | number:'1.2-2':'en-US'}}</p>
          </div>
          <div class="consumo">
              <p class="etiqueta-consumo-total">Consumo total en kWh</p>
              <p class="etiqueta-valor">{{dataInvoice.totalLecturaActivaAjustada + (dataInvoice.totalEnergiaFotovoltaicaActivaConsumida) + dataInvoice.totalEnergiaDeInyeccionConsumida + (dataInvoice.PPPTT * dataInvoice.PT) | number:'1.2-2':'en-US'}}</p>
          </div>
          <div class="consumo">
              <p class="etiqueta-consumo-total">Total a pagar en lempiras</p>
              <p class="etiqueta-valor" *ngIf="dataInvoice.cargo">{{dataInvoice.cargo[dataInvoice.cargo.length -1].valorAjustado | number:'1.2-2':'en-US'}}</p>
          </div>
      </div> -->
    <div class="titulos">
      <h5>Detalle de consumo de energía</h5>
    </div>
    <div class="detalle-container">
      <table class="tg">
        <thead>
          <tr>
            <th class="tg-dou8"></th>
            <th class="tg-dou8">Lectura actual</th>
            <th class="tg-dou8">Lectura anterior</th>
            <th class="tg-dou8">Diferencia</th>
            <th class="tg-dou8">Consumo</th>
            <th class="tg-dou8">Unidad</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
