<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Factura manual</span></button>
<nz-modal nzCentered [(nzVisible)]="isVisible" nzTitle="Factura" (nzOnCancel)="handleCancel()" (nzOnOk)="PushData()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateForm" nzLayout="horizontal">
            <div nz-row>
                <div nz-col nzSpan="8">
                    <label>Contrato Medidor</label>
                    <div nz-row>
                        <nz-form-control>
                            <nz-form-item  nzFlex>
                                <nz-select formControlName="contratoMedidorId" nzPlaceHolder="MD_123120" nzAllowClear>
                                    <div *ngFor="let contract of ListOfContractMeditors">
                                        <nz-option [nzLabel]="contract.codigoContrato" [nzValue]="contract.contratoMedidorId"></nz-option>
                                    </div>
                                </nz-select>
                            </nz-form-item>
                        </nz-form-control>

                    </div>
                </div>
                <div nz-col nzSpan="8">
                    <label>Cargos</label>
                    <div nz-row>
                        <nz-form-control>
                            <nz-form-item  nzFlex>
                                <nz-select formControlName="cargoId" nzPlaceHolder="MD_123120" nzAllowClear>
                                    <div *ngFor="let charge of ListOfCharges">
                                        <nz-option [nzLabel]="charge.descripcion" [nzValue]="charge.id"></nz-option>
                                    </div>
                                </nz-select>
                            </nz-form-item>
                        </nz-form-control>

                    </div>
                </div>

                <div nz-col nzSpan="8">
                    <label>Codigo</label>
                    <div nz-row>
                        <nz-form-control>
                            <nz-form-item  nzFlex>
                                <input nz-input  type="text" formControlName="codigo" placeholder="">
                            </nz-form-item>
                        </nz-form-control>
                    </div>
                </div>

            </div>

            <div nz-row>

                <div nz-col nzSpan="11">
                    <label>Fecha de lectura</label>

                    <div nz-row>
                        <nz-form-control>
                          <nz-form-item  nzFlex>
                              <nz-date-picker class="inputMedium" formControlName="fechaLectura"></nz-date-picker>
                          </nz-form-item>
                        </nz-form-control>
                    </div>

                </div>

                <div nz-col nzOffset="2" nzSpan="11">
                    <label>Fecha de vencimiento</label>

                    <div nz-row>
                        <nz-form-control>
                          <nz-form-item  nzFlex>
                              <nz-date-picker class="inputMedium" formControlName="fechaVencimiento"></nz-date-picker>
                          </nz-form-item>
                        </nz-form-control>
                    </div>

                </div>

            </div>

            <div nz-row>

                <div nz-col nzSpan="11">
                    <label>Fecha inicial</label>

                    <div nz-row>
                        <nz-form-control>
                          <nz-form-item  nzFlex>
                              <nz-date-picker class="inputMedium" formControlName="fechaInicio"></nz-date-picker>
                          </nz-form-item>
                        </nz-form-control>
                    </div>

                </div>

                <div nz-col nzOffset="2" nzSpan="11">
                    <label>Fecha final</label>

                    <div nz-row>
                        <nz-form-control>
                          <nz-form-item  nzFlex>
                              <nz-date-picker class="inputMedium" formControlName="fechaFin"></nz-date-picker>
                          </nz-form-item>
                        </nz-form-control>
                    </div>

                </div>

            </div>

            <div nz-row>

                <div nz-col nzSpan="11">
                    <label>Tipo de consumo</label>

                    <div nz-row>

                        <nz-form-control>
                            <nz-form-item  nzFlex>
                              <nz-select formControlName="tipoConsumo" class="inputMedium" nzPlaceHolder="Tension: Baja, Media, Alta" nzAllowClear>
                                <nz-option nzLabel="Baja tension" [nzValue]="0"></nz-option>
                                <nz-option nzLabel="Media tension" [nzValue]="1"></nz-option>
                                <nz-option nzLabel="Alta tension" [nzValue]="2"></nz-option>
                              </nz-select>

                            </nz-form-item>
                        </nz-form-control>

                    </div>
                </div>

                <div nz-col nzOffset="2" nzSpan="11">
                    <label>Energia consumida</label>

                    <div nz-row>

                        <nz-form-control>
                            <nz-form-item  nzFlex>
                                <nz-input-number class="inputMedium" formControlName="energiaConsumida" ></nz-input-number>
                            </nz-form-item>
                        </nz-form-control>

                    </div>
                </div>
            </div>

            <div nz-row>
                <div nz-col>
                    <label>Observacion</label>

                    <div nz-row>
                        <nz-form-control>
                            <nz-form-item  nzFlex>
                                <textarea nz-input class="inputLarge" formControlName="observacion" placeholder=""></textarea>
                            </nz-form-item>

                        </nz-form-control>
                    </div>

                </div>
            </div>



        </form>
    </ng-container>
</nz-modal>
