.inputLarge{
    width: 476px;
    display: table-cell; 
    vertical-align: middle;
    border: 1px solid #ccc;
}
.inputMedium{
    width: 230px;
    display: table-cell; 
    vertical-align: middle;
    border: 1px solid #ccc;
}
nz-date-picker,
nz-range-picker {
margin: 0 8px 12px 0;
}