<h1>Tarifas</h1>
<div nz-row class="row-1">


  <div nz-col nzSpan="4">

    <div *ngIf="!ratesIsActive ; else enableClients">
      <button nz-button [nzType]="'primary'" (click)="GetRates(0, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar desabilitados</span></button>
    </div>
    <ng-template #enableClients>
      <button nz-button [nzType]="'primary'" (click)="GetRates(1, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar habilitados</span></button>
    </ng-template>

  </div>
  <br>
    <div nz-col>
      <app-modal-new-rate (DataUpdated)="updateTable($event)"></app-modal-new-rate>
    </div>

    <!-- <div nz-col nzOffset="1">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a global param">
        <nz-option *ngFor="let param of listOfGeneralParams" [nzLabel]=param.observacion [nzValue]=param.id ></nz-option>
      </nz-select>
    </div>

    <div nz-col>
      <button nz-button nzType="primary" nzSize="default"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
    </div> -->

</div>
<br>
<div nz-row class="row-2">
  <div nz-col>
      <nz-table #table [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{   x: '100%', y: '100%' }"  [nzPageSize]="10">
        <thead>
          <tr>
          <th nzLeft nzWidth="50px">Acciones</th>
            <th
              *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn" nzWidth="120px"
            >
              {{ column.name }}
            </th>
            <th nzRight nzWidth="48px">Parametros</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of table.data">
            <td nzLeft>
              <div nz-row nzAlign="middle" nzJustify="center">
                <div nz-col>
                  <app-modal-new-rate [dataPosition]="data"></app-modal-new-rate>
                </div>

                <div nz-col nzOffset="1">
                  <div nz-col>
                    <div *ngIf="data.estado; else disablesList">
                        <button nz-button nzSize="small" nzDanger nzType="primary"
                        nz-popconfirm
                        nzPopconfirmTitle="Quieres deshabilitar este item ?"
                        (nzOnConfirm)="disableRate(data, 0)"
                        (nzOnCancel)="cancel()"
                        nzPopconfirmPlacement="rightBottom"
                        ><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                    </div>
                    <ng-template #disablesList>
                        <button nz-button nzSize="small" nzType="primary"
                        nz-popconfirm
                        nzPopconfirmTitle="Quieres habilitar este item ?"
                        (nzOnConfirm)="disableRate(data, 1)"
                        (nzOnCancel)="cancel()"
                        nzPopconfirmPlacement="rightBottom"
                        ><i nz-icon nzType="undo" nzTheme="outline"></i></button>
                    </ng-template>

                  </div>
                </div>

              </div>
            </td>
            <td>{{data.codigo}}</td>
            <td>{{ data.descripcion}}</td>
            <td>{{ data.observacion }}</td>
            <td nzRight nzAlign="center">
              <app-modal-parameters [dataPosition]="data" [listOfParamRelation]="listOfParamRelation"></app-modal-parameters>
            </td>
          </tr>
        </tbody>
      </nz-table>

  </div>
</div>
