
<form nz-form [formGroup]="validateForm" class="login-form">

    <h3>Codigo de recuperación</h3>
    <div nz-row class="logo-container">
        <div nz-col [nzSpan]="12">
            <!-- <img class="Logo" src="../../../../../assets/Images/Solar2.png" alt=""> -->
            <img class="Logo" src="assets/Images/Logo.jpeg" alt="">
        </div>
    </div>
    <nz-form-item>

        <nz-form-control nzErrorTip="Ingrese su usuario o correo!">
        <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="identificator" placeholder="Correo o usuario" nzBorderless>
        </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button [disabled]="validateForm.invalid" nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="submitForm()">Solicitar</button>
    <a [routerLink]="['/login/register']" style="text-align: center;"> <p>Registrate ahora!</p> </a>
    <a [routerLink]="['/login']"  style="text-align: center;"> <p>Iniciar sesion</p> </a>

</form>
