
<div *ngIf="dataPosition; else Guardar">
    <button nz-button nzSize="small" nzType="primary" (click)="showModal()"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
</div>
<ng-template #Guardar>
    <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Nuevo Registro</span></button>
</ng-template>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Parametros de entrada" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
    <ng-container *nzModalContent>

    <form nz-form [formGroup]="validateForm" nzLayout="horizontal">

        <div nz-row>
            <div nz-col nzSpan="24">
                <label>Fecha valida</label>
                <div nz-row>
                        <nz-range-picker style="width: 475px;" formControlName="fecha" [nzRanges]="ranges"></nz-range-picker>
                </div>
    
            </div>
        </div>
        <br>

        <div nz-row>
            <div nz-col nzSpan="20">
                <label>Cargo</label>
                <div nz-row>
                    <nz-form-item nzFlex>
                    <nz-form-control>
                        <nz-select formControlName="tipoCargoId" style="width: 380px;">
                            <div *ngFor="let charge of ListOfCharges">
                                <nz-option [nzLabel]=charge.nombre [nzValue]=charge.id></nz-option>
                            </div>
                        </nz-select>                   
                    </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-col nzSpan="2">

                <label>Valor</label>
                <div nz-row>
                    <nz-form-item>
                    <nz-form-control>
                        <input nz-input formControlName="valor" style="width: 70px;" type="number" placeholder="(0.5)%"  [disabled]="false" />
                    </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="24">
                    
                <label  nzRequired>Observacion</label>
                <div nz-row>
                    <nz-form-item>
                    <nz-form-control>
                        <textarea formControlName="observacion" class="inputLarge" nz-input rows="2" placeholder="Escriba algo"></textarea>
                    </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>

    </form>
    </ng-container>
</nz-modal>