
.login-form {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 340px;
    transform: translate(-50%, -50%);   
}

@media (max-width: 300px){
    .login-form {
        width: 100%;  
    }

}

.login-form-margin {
margin-bottom: 16px;
}

.login-form-forgot {
float: right;
}

.login-form-button {
    width: 100%;
    padding: 0.5em 1em;
    border: none;
}

.logo-container {
    margin: 0 auto;
    width: 150px;  


}

.Logo {
    margin: 0 auto;
    width: 150px;  
}




.login-form {   
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    border-radius: 10%;
    box-shadow: inset;
    padding-right:  10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);
    background-color: white;
}
h3 {
    text-align: center;
}

