<h1>Medidores</h1>
<br>
<div nz-row>

  <div nz-col nzSpan="4">

    <div *ngIf="!meterIsActive ; else enableClients">
      <button nz-button [nzType]="'primary'" (click)="GetMeters(0, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar desabilitados</span></button>
    </div>
    <ng-template #enableClients>
      <button nz-button [nzType]="'primary'" (click)="GetMeters(1, true)"><span nz-icon nzType="filter" nzTheme="outline"></span><span>Mostrar Habilitados</span></button>
    </ng-template>

  </div>

  <div nz-col>

    <app-meters-modal [listOfMPoinst]="listOfMPoinst" (DataUpdated)="updateTable($event)" [listOfSourceId]="listOfSource"></app-meters-modal>

  </div>
</div>

<br>

<div nz-row>

  <div nz-col>

    <nz-table #table [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{ x: '100%', y: '100%' }" nzSize="middle" [nzPageSize]="10">
      <thead>
        <tr>
          <th nzLeft nzWidth="100px">Accion</th>
          <th
            *ngFor="let column of listOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>
          <th nzRight nzWidth="100px">Tipo Medidor</th>
          <th nzRight nzWidth="80px">Estado</th>
          <!-- <th nzRight nzWidth="90px">RollOver</th>
          <th nzRight nzWidth="100px">Medidores Virtuales</th> -->



        </tr>
      </thead>
    <!-- Cuerpo de tabla -->

      <tbody>
        <tr *ngFor="let data of table.data">
          <td nzLeft>
            <div nz-row>
              <div nz-col>
                <div *ngIf="data.estado; else disablesList">
                    <button nzSize="small" nz-button nzType="primary" nzDanger
                    nz-popconfirm
                    nzPopconfirmTitle="Quieres deshabilitar este item ?"
                    (nzOnConfirm)="disableMeter(data, 0)"
                    (nzOnCancel)="cancel()"
                    nzPopconfirmPlacement="rightBottom"
                    ><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                </div>
                <ng-template #disablesList>
                    <button nzSize="small"  nz-button nzType="primary"
                    nz-popconfirm
                    nzPopconfirmTitle="Quieres habilitar este item ?"
                    (nzOnConfirm)="disableMeter(data, 1)"
                    (nzOnCancel)="cancel()"
                    nzPopconfirmPlacement="rightBottom"
                    ><i nz-icon nzType="undo" nzTheme="outline"></i></button>
                </ng-template>
              </div>
              <div nz-col nzOffset="3">
                <app-meters-modal [listOfMPoinst]="listOfMPoinst" [dataPosition]="data" [listOfSourceId]="listOfSource"></app-meters-modal>
              </div>
            </div>

          </td>
          <td>{{ data.codigo }}</td>
          <td>{{ data.sourceId }}</td>
          <td>{{ data.descripcion }}</td>
          <td *ngIf="!data.tipo; else bidireccional">Unidireccional</td>
          <ng-template #bidireccional>
            <td >Bidireccional</td>
          </ng-template>

          <td *ngIf="data.TipoMedidorId === 1; else respaldo">Principal</td>
          <ng-template #respaldo>
            <td>Respaldo</td>
          </ng-template>

          <td nzRight nzAlign="center">
            <div *ngIf="data.estado; else contractDisable">
                <i nz-icon style="color: green;" nzType="check-circle" nzTheme="outline"></i>
            </div>
            <ng-template #contractDisable>
              <i nz-icon style="color: red;" nzType="close-circle" nzTheme="outline"></i>
            </ng-template>
          </td>
          <!-- <td nzAlign="center"  nzRight>
            <app-roll-over-modal [dataPosition]="data"></app-roll-over-modal>
          </td>
          <td nzAlign="center" nzRight>
            <app-virtual-meter-modal [listOfVMeters]="listOfDataVM" [dataPosition]="data" [listOfMeters]="listOfManualMeterAux"></app-virtual-meter-modal>
          </td> -->






        </tr>
      </tbody>
    </nz-table>

  </div>

</div>

