.inputLarge{
    width: 472px;
    height: 30px;
    display: table-cell; 
    vertical-align: middle;
    border: 1px solid #ccc;
}

.textArea{
    width: 472px;
    display: table-cell; 
    vertical-align: middle;
    border: 1px solid #ccc;

}
.inputMedium{
    width: 230px;
    display: table-cell; 
    vertical-align: middle;
    border: 1px solid #ccc;
}